body{
	margin: 0;
	padding: 0;
	font-family: 'Jost', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
p {
    margin: 0;
    padding: 0;
}

/* Header */

header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 20vh;
}
.right{
    padding-right: 50px;
    display: flex;
    align-items: center;
}
.left{
    padding-left: 30px;
    display: flex;
    align-items: center;
}
.logo{
    width: 64px;
    height: 64px;
}
.title{
    font-size: 1.5em;
    font-weight: bold;
    color: #000;
    margin-left: 10px;
}
.box1{
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    margin: 5px;
}
.box2{
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    margin: 5px;
}
.right a{
    text-decoration: none;
    color: #000;
    font-size: 1em;
    font-weight: bold;
    margin: 10px;
}

/* Main */


main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}
.top{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 75px;
}
main .img img{
    width: 300px;
    height: 300px;
    box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.75);
}
main .txt{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    font-weight: bold;
    color: #000;
}

.bottom{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 75px;
}
.case{
    width: 250px;
    height: 200px;
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    font-weight: bold;
    color: #000;
    background-color: #919191;
    box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.75);
}
.case_bar{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bar{
    /*faire une ligne qui fait la longueur de la case et qui est a 45 deg*/
    width: 100%;
    height: 1px;
    background-color: #000;
    transform: rotate(-45deg);
    margin-bottom: 2%;
    margin-left: -28%;
}
.case img{
    width: 32px;
    height: 32px;
    margin-top: 20px;
    margin-left: 20px;
}
.case p{
    margin: 0;
    padding: 0;
    margin-left: 50%;
    font-size: 0.8em;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

/* Footer */

footer{
    margin-top: 75px;
    width: 100%;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #fff;
}
.top{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .top img{
    width: 64px;
    height: 64px;
}
.contact{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact .txt{
    width: 70%;
    margin-left: 10px;
}
.contact p{
    font-size: 0.8em;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: #fff;
    margin-top: 5px;
}
.contact h2{
    font-size: 1em;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: #fff;
}

footer .info{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.info .left{
    width: 30%;
    display: flex;
    flex-direction: column;
    
}
.info .left .title h1{
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: #fff;
}
.info .left .txt{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.info .left .txt p{
    width: 80%;
    font-size: 0.8em;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: #fff;
    margin-top: 20px;
}
.info .mid{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.info .mid ul li{
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 5px;
}
.info .mid ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 0.8em;
    font-weight: bold;
}
.info .right{
    width: 30%;
    display: flex;
    flex-direction: column;
}
.info .right ul{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.info .right ul li{
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 5px;
}
.info .right ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 0.8em;
    font-weight: bold;
}
.line{
    width: 90%;
    height: 1px;
    background-color: #fff;
    margin-top: 20px;
}

footer .bottom{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}




/* Responsive */

@media screen and (max-width: 450px) {
    body{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    header{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    header .right{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    main .top {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    main .top .txt{
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    main .bottom{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    main .bottom .case {
        margin-top: 20px;
    }


    footer {
        height : 100%;
    }
    footer .top{
        flex-direction: column;
        justify-content: normal;
        align-items: normal;
        margin-left: 60px;
    }
    footer .top .contact {
        margin-top: 20px;
    }
    footer .top .contact .txt h2{
        font-size: 1em;
    }
    footer .top .contact .txt p{
        font-size: 0.8em;
    }
    footer .info{
        width: 70%;
        justify-content: space-between;
    }
    footer .info .left{
        display:none;
    }

    footer .mid h2{
        font-size: 1em;
        width: 150px;
    }

    footer .mid ul{
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
    footer .right{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding : 0;
    }
    footer .right h2{
        font-size: 1em;
        width: 150px;
    }
    footer .right ul{
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
    footer .right ul li a img{
        margin-top: 5px;
        width: 32px;
        height: 32px;
    }
}

@media screen and (max-width: 1200px) {

    main .bottom{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    main .bottom .case {
        margin-top: 20px;
    }

    footer .right ul{
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
    footer .right ul li a img{
        margin-top: 5px;
        width: 32px;
        height: 32px;
    }

}
